.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.854980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.765625;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-1494.256000px;}
._6{margin-left:-815.456000px;}
._1{margin-left:-2.994400px;}
._0{margin-left:-1.379000px;}
._3{width:118.448400px;}
._2{width:161.648400px;}
._5{width:865.757600px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:32.800000px;}
.fs2{font-size:35.800000px;}
.fs0{font-size:39.400000px;}
.fs1{font-size:43.200000px;}
.y7{bottom:0.250000px;}
.y5{bottom:0.550000px;}
.y1{bottom:0.600000px;}
.y2{bottom:12.000000px;}
.ya{bottom:218.100000px;}
.yb{bottom:297.300000px;}
.yc{bottom:311.700000px;}
.y9{bottom:519.550000px;}
.y6{bottom:571.000000px;}
.y0{bottom:609.650000px;}
.y8{bottom:615.150000px;}
.y4{bottom:624.050000px;}
.y3{bottom:637.800000px;}
.h4{height:11.050000px;}
.h1{height:12.000000px;}
.h7{height:23.542969px;}
.h6{height:26.063379px;}
.h2{height:28.280273px;}
.h5{height:33.075000px;}
.h3{height:768.000000px;}
.h0{height:792.000000px;}
.w4{width:23.800000px;}
.w3{width:127.700000px;}
.w1{width:414.000000px;}
.w2{width:588.000000px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.x5{left:7.650000px;}
.x2{left:12.000000px;}
.x9{left:111.600000px;}
.x0{left:166.800000px;}
.x3{left:385.200000px;}
.x6{left:392.400000px;}
.x7{left:459.250000px;}
.x8{left:467.700000px;}
.x4{left:494.400000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-1992.341333pt;}
._6{margin-left:-1087.274667pt;}
._1{margin-left:-3.992533pt;}
._0{margin-left:-1.838667pt;}
._3{width:157.931200pt;}
._2{width:215.531200pt;}
._5{width:1154.343467pt;}
.fs3{font-size:43.733333pt;}
.fs2{font-size:47.733333pt;}
.fs0{font-size:52.533333pt;}
.fs1{font-size:57.600000pt;}
.y7{bottom:0.333333pt;}
.y5{bottom:0.733333pt;}
.y1{bottom:0.800000pt;}
.y2{bottom:16.000000pt;}
.ya{bottom:290.800000pt;}
.yb{bottom:396.400000pt;}
.yc{bottom:415.600000pt;}
.y9{bottom:692.733333pt;}
.y6{bottom:761.333333pt;}
.y0{bottom:812.866667pt;}
.y8{bottom:820.200000pt;}
.y4{bottom:832.066667pt;}
.y3{bottom:850.400000pt;}
.h4{height:14.733333pt;}
.h1{height:16.000000pt;}
.h7{height:31.390625pt;}
.h6{height:34.751172pt;}
.h2{height:37.707031pt;}
.h5{height:44.100000pt;}
.h3{height:1024.000000pt;}
.h0{height:1056.000000pt;}
.w4{width:31.733333pt;}
.w3{width:170.266667pt;}
.w1{width:552.000000pt;}
.w2{width:784.000000pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.x5{left:10.200000pt;}
.x2{left:16.000000pt;}
.x9{left:148.800000pt;}
.x0{left:222.400000pt;}
.x3{left:513.600000pt;}
.x6{left:523.200000pt;}
.x7{left:612.333333pt;}
.x8{left:623.600000pt;}
.x4{left:659.200000pt;}
}
